.task_container {
  position: relative;
  border-radius: 1.5rem;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  min-height: 4rem;
}

.task_container_lightTheme {
  border: var(--color-darkblue) solid 1px;
  background-color: #fff;
}

.task_container_darkTheme {
  border: var(--color-blue) solid 1px;
  background-color: #011935;
}

.task_container:hover {
  cursor: pointer;
}

.task_description {
  font-weight: 400;
  font-size: 1.2rem;
  word-break: break-word;
  white-space: normal;
  flex-grow: 1;
  padding-right: 5rem;
}

.task_description_done {
  text-decoration: line-through;
}

.task_description_lightTheme {
  color: var(--color-darkblue);
}

.task_description_darkTheme {
  color: var(--color-blue);
}

.btn_favorite_container {
  position: absolute;
  top: -1.1rem;
  left: -0.5rem;
  max-width: 1.8rem;
  max-height: 1.8rem;
}

.btn_favorite_icon,
.btn_icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease-in-out;
}

.btn_favorite_container:hover .btn_favorite_icon {
  transform: scale(1.1);
}

.btn_container {
  display: flex;
  gap: 0.5rem;
  position: absolute;
  right: 2%;
  top: 20%;
}

.btn {
  max-width: 1.8rem;
  max-height: 1.8rem;
}

.btn:hover .btn_icon {
  transform: scale(1.1);
}
