.tabs_container {
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}

.tab {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: var(--color-blue);
  padding: 0.5rem;
  transition: transform 0.3s ease-in-out;
}

.tab:hover, .tab:focus {
  color: var(--color-darkblue);
  transform: scale(1.1);
}
