.form_container {
  display: flex;
  align-items: center;
  justify-self: flex-start;
  width: 100%;
  max-width: 30rem;
  position: relative;
  transition: transform 0.4s ease-in-out;
}

.form_container:hover,
.form_container:active {
  transform: scale(1.02);
}

.input_group {
  position: relative;
  border-bottom: var(--color-darkblue) 1px solid;
  padding: 0.5rem 1rem;
  width: 100%;
  color: var(--color-darkblue);
}

.search_btn_container {
  position: absolute;
  left: 29rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.search_btn_icon {
  width: 1.5rem;
  height: 1.5rem;
}

.input_group::placeholder {
  color: var(--color-blue);
}
