.btn_toggle_container {
  justify-self: flex-end;
  max-width: 2rem;
  max-height: 2rem;
  transition: transform 0.3s ease-in-out;
}

.btn_toggle_container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.btn_toggle_container:hover,
.btn_toggle_container:hover img {
  transform: scale(1.1);
}
