:root {
  --color-darkblue: #0040bc;
  --color-blue: #96add6;
  --color-darkred: #e85234;
  --color-red: #f9b8af;

  --font-title: 'Poppins', sans-serif;

}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

input {
  border: none;
  background: none;
  outline: none;
}