.pagination_container {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.pagination_btn_container {
  max-width: 1.5rem;
  max-height: 1.5rem;
  transition: transform 0.3s ease-in-out;
}

.icon_btn {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease-in-out;
}

.num_btn {
  color: var(--color-blue);
}

.pagination_btn_container:hover .icon_btn,
.pagination_btn_container:focus .icon_btn,
.pagination_btn_container:hover,
.pagination_btn_container:focus {
  transform: scale(1.1);
}

.num_btn:hover,
.num_btn:focus,
.num_btn:active {
  color: var(--color-darkblue);
  transform: scale(1.1);
}
